
.nav {
    background: var(--accent-color);
    box-sizing: border-box;
    height: 125px;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav .links {
    display: flex;
    gap: 2.5rem;
    margin-right: 10%;
}

.item {
    stroke: var(--text-color);
    stroke-width: 1;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

@media screen and (max-width: 835px) {

    .nav {
        height: 120px;
        padding: 0;
    }

    .nav svg {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 3%;
    }

}